@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
    
}

img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    margin: 15px auto;
}

a {
    text-decoration: none;
}

#hero__section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    width: 100%;

}
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.nav__list {
    display: flex;
    list-style: none;
}

.nav__list--item {
    margin-left: 25px;
}

.primary__button {
    background-color: #d779e8;
    padding: 4px 20px;
    border-radius: 15px;
}

nav img {
    width: 100px;
}


#hero__section .hero__section--left {
    padding-left: 5rem;
    padding-right: 4rem;
    height: 90%;
    width: 40%;
}

.hero__section--left--title {
    font-size: 40px;
    margin-bottom: 1rem;
}

.hero__section--left--subtitle {
    font-size: 16px;
    margin-bottom: 2.5rem;
}

.hero__section--left input {
    margin-bottom: 3rem;
    padding: 10px;
    border-radius: 25px;
}

.hero__section--left button {
    padding: 10px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #ce29ec;
    color: whitesmoke;
    font-weight: 600;
    border: 0;
}

.hero__left--img--wrapper {
    width: 60%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.hero__left--img--wrapper img {
    width: 60px;
    height: 20px;
}

#hero__section .hero__section--right {
    height: 90%;
    padding-left: 5rem;
    padding-right: 4rem;
    width: 60%;
}

.hero__section--img--wrapper {
    width: 100%;
}

.hero__section--right img {
    width: 600px;
}

.text__purple {
    color: purple;
}

/* Features 
Section */

#features .container {
    padding: 80px 0;
    text-align: center;
}

.features__section--title {
    margin-bottom: 1rem;
}
.features__title {
    margin-bottom: 1rem;
}

.features__subtitle {
    padding: 0 10rem;
    color: grey;
}

#features .services {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
}

#features .service {
    text-align: left;
    display: flex;
    padding: 15px 0;
    width:calc(100%/3);
    flex-direction: column;
    margin-bottom: 3rem;
    border-radius: 15px;
}

.service__title {
    padding-left: 1rem;
}
.service__subtitle {
    color: gray;
}

/* PORTFOLIO 
SECTION */

.portfolio__columns {
    display: flex;
    justify-content: space-between;
}

#portfolio .portfolio__title {
    margin-bottom: 2rem;
}

#portfolio .portfolio__description {
    margin-bottom: 2rem;
}

#portfolio button {
    padding: 10px 30px;
    background-color: #261fe3;
    color: white;
    border: none;
    border-radius: 20px;
}

.portfolio__right--img--wrapper {
    width: 800px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.388);
    margin-bottom: 3rem;
}