@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
    
}

img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    margin: 15px auto;
}

a {
    text-decoration: none;
}

#hero__section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    width: 100%;

}
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.nav__list {
    display: flex;
    list-style: none;
}

.nav__list--item {
    margin-left: 25px;
}

.primary__button {
    background-color: #d779e8;
    padding: 4px 20px;
    border-radius: 15px;
}

nav img {
    width: 100px;
}


#hero__section .hero__section--left {
    padding-left: 5rem;
    padding-right: 4rem;
    height: 90%;
    width: 40%;
}

.hero__section--left--title {
    font-size: 40px;
    margin-bottom: 1rem;
}

.hero__section--left--subtitle {
    font-size: 16px;
    margin-bottom: 2.5rem;
}

.hero__section--left input {
    margin-bottom: 3rem;
    padding: 10px;
    border-radius: 25px;
}

.hero__section--left button {
    padding: 10px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #ce29ec;
    color: whitesmoke;
    font-weight: 600;
    border: 0;
}

.hero__left--img--wrapper {
    width: 60%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.hero__left--img--wrapper img {
    width: 60px;
    height: 20px;
}

#hero__section .hero__section--right {
    height: 90%;
    padding-left: 5rem;
    padding-right: 4rem;
    width: 60%;
}

.hero__section--img--wrapper {
    width: 100%;
}

.hero__section--right img {
    width: 600px;
}

.text__purple {
    color: purple;
}

/* Features 
Section */

#features .container {
    padding: 80px 0;
    text-align: center;
}

.features__section--title {
    margin-bottom: 1rem;
}
.features__title {
    margin-bottom: 1rem;
}

.features__subtitle {
    padding: 0 10rem;
    color: grey;
}

#features .services {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
}

#features .service {
    text-align: left;
    display: flex;
    padding: 15px 0;
    width:calc(100%/3);
    flex-direction: column;
    margin-bottom: 3rem;
    border-radius: 15px;
}

.service__title {
    padding-left: 1rem;
}
.service__subtitle {
    color: gray;
}

/* PORTFOLIO 
SECTION */

.portfolio__columns {
    display: flex;
    justify-content: space-between;
}

#portfolio .portfolio__title {
    margin-bottom: 2rem;
}

#portfolio .portfolio__description {
    margin-bottom: 2rem;
}

#portfolio button {
    padding: 10px 30px;
    background-color: #261fe3;
    color: white;
    border: none;
    border-radius: 20px;
}

.portfolio__right--img--wrapper {
    width: 700px;
    margin-left: 2rem;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.388);
    margin-bottom: 3rem;
}

/* QUALITIES &
DISPLAY
 SECTION */

 #qualities .row {
    display: flex;
 }

 .quality__column--left,
 .quality__column--right {
    width: 50%;
    margin-bottom: 2rem;
 }

 .quality__column--left img {
    width: 500px;
 }

.quality__section--title,
.steps {
    margin-bottom: 1.5rem;
}

 .quality__section--title {
    font-size: 40px;
 }

 .steps__container {
    display: flex;
 }

 .steps__container h1 {
    margin-right: 1rem;
    color: gray;
 }


 /* ------ PRICING 
    SECTION 
STYLING -------- */
#pricing {
    margin-top: 2rem;
}
#pricing .row {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.pricing__title,
.pricing__description {
    margin: 1rem auto;
    padding:0 10rem;
}

.plans {
    display: flex;
    flex-wrap: wrap;
}

.plan {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 0 1rem;
    margin-bottom: 3rem;
}

.plan__content {
    background-color: antiquewhite;
    padding: 0 2rem;
    border-radius: 20px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.411);
}

.plan__content--highlighted {
    background-color:rgba(9, 92, 152, 0.681);
    color: antiquewhite;
}

.plan__content h6 {
    margin: 1rem 0;
}

.plan__price {
    font-size: 40px;
}

.plan__detail {
    margin: 0.5rem 0;
    font-size: 16px;
}
.plan ul {
    list-style: none;
}

.plan hr {
    width: 250px;
    margin: 1rem 0;
}

.plan__cta--button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color:antiquewhite;
    background-color: rgba(59, 205, 59, 0.772);
    cursor: pointer;
}

.plan__cta--button--highlighted {
    background-color: antiquewhite;
    color: rgba(9, 92, 152, 0.681);
    font-weight: 600;
}

.plan__price,
.plan__description,
.plan h5 {
    margin-bottom: 1rem;
}

/* FOOTER
----------- Styling---------
SECTION */

footer {
    background-color: #d779e8;
}

.footer__lower {
    background-color: #ab6fb6;
}

footer .row {
    display: flex;
    width: 100%;
}

.links {
    flex-wrap: wrap;
    list-style: none;
    width: calc(100%/4);
    padding: 4rem;
}
footer h4 {
    margin-bottom: 1rem;
}
footer .link {
    margin: 0.15rem 0;
}
footer .link a {
    position: relative;
    color: antiquewhite;
    text-decoration: none;
  }
  
  footer .link a:hover {
    color: #000;
  }
  
  footer .link a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 1s ease;
  }
  
  footer .link a:hover::before {
    transform: scaleX(1);
  }


  .footer__lower figure img {
    max-width: 150px;
    margin-left: 1rem;
  }