*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


.container {
    width: 100%;
    height: 100vh;
    background-color: #7342d61a;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    height: 90vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100vh;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 1px 2px 10px #6814b6;
}

form h3,h2 {
    color: rgb(69, 66, 66);
    text-align: center;
}

form h2 {
    margin-bottom: 2%;
}

form label {
    margin-left: 5%;
    margin-bottom: 1%;
}

form input, form textarea {
    border: 1px solid rgb(36, 34, 34);
    margin: 10px 0;
    padding: 20px;
    /* outline: none; */
    background-color: #f5f5f5;
    font-size: 16px;
}

form input:focus, form textarea:focus {
    background-color: #6814b649;
}

form select {
    margin-left: 3%;
    width: 50%;
    padding: 5px;
    background-color: #6814b640;
    border-radius: 10px;
}

form button {
    padding: 15px;
    background-color: rgb(47, 255, 47);
    color: whitesmoke;
    font-size: 17px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
