*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

nav .logo {
    width: 200px;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 10rem 1rem 10rem;
}

.nav_bar ul {
    padding: 1rem 0 0 0;
    display: flex;
    list-style: none;
}

.nav_bar ul li {
    padding: 0 1rem;
}

.nav_bar ul li a{
    font-size: 26px;
}

.purple_text {
    color: #7342d6;
}

header div {
    align-items: center;
    display: flex;
    flex-direction: column;
}

header h1 {
    margin-top: 1.5rem;
    font-size: 56px;
    text-align: center;
    color:#7342d6;
}

header h3 {
    margin-top: 1rem;
    font-size: 32px;
}

header .featured_books--button {
    font-size: 20px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color:#7342d6;
    border-radius: 10px;
}

header .featured_books--button a {
    color: white;
}

#hero_section .header_image img {
    width: 650px;
    
}
#hero_section .header_image {
    text-align: center;
    margin-top: 2rem;
}


/* LIBRARY FEATURES */

#library_features {
    text-align: center;
    margin-top: 3rem;
}

#library_features h3 {
    font-size: 36px;
    margin-bottom: 2rem;
}

#library_features .features {
    display: flex;
    padding: 0 5rem;
    flex-direction: row;
    justify-content: space-around;
}

#library_features .features .feature {
    padding: 1rem 5rem;
}

#library_features .features .feature div{
    border: 1px solid rgb(181, 181, 181);
    margin: 0 5rem 1rem 5rem;
    
}

#library_features .features .feature div i {
    font-size: 36px;
    color: #7342d6;
    padding: 1.5rem 1.5rem;
}

#library_features .features .feature h4 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 1rem;
}


/* FEATURED BOOKS */

#featured__books,
#featured__books--sec {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#featured__books .section__title,
#featured__books--sec .section__title {
    text-align: center;
    font-size: 44px;
    font-weight: 550;
    margin-bottom: 2rem;
}

#featured__books .row,
#featured__books--sec .row {
    width: 100%;
}

#featured__books .books,
#featured__books--sec .books {
    display: flex;
    margin-top: 1rem;
}

#featured__books .books .book,
#featured__books--sec .books .book {
    width: 25%;
    margin: 0 2rem;
}

#featured__books .books .book img:hover,
#featured__books--sec .books .book img:hover {
    transform: scale(1.02,1.02);
}



#featured__books .books .book img,
#featured__books--sec .books .book img {
    margin-bottom: 1rem;
    width: 100%;
    height: 450px;
    box-shadow: 1px 8px 8px rgb(148, 148, 148);
}


#featured__books .books .book .book__title,
#featured__books--sec .books .book .book__title {
    font-size: 22px;
}

#featured__books .books .book .book__price,
#featured__books--sec .books .book .book__price {
    font-size: 22px;
}

#featured__books .books .book .book__price--normal,
#featured__books--sec .books .book .book__price--normal  {
    color: rgb(126, 123, 123);
    text-decoration: line-through;
}

#featured__books .books .book .book__ratings,
#featured__books--sec .books .book .book__ratings {
    color: rgb(232, 175, 32);
}

#featured__books--exp {
    text-align: center;
    margin-bottom: 5rem;
}

#featured__books--exp .section__title {
    font-size: 44px;
    margin-bottom: 1rem;
}

#featured__books--exp button .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#featured__books--exp button {
    background-color: #7342d6;
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    
}

#featured__books--exp button a {
    color: whitesmoke;
}

/* FOOTER */

#footer__section {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
}

#footer__section .row {
    margin: 1.5rem;
}

#footer__section .footer__logo {
    width: 200px;
    filter:invert(0.7);
}

#footer__section ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 150%;
    margin: 2rem 2rem 2rem -3rem;
    text-transform: uppercase;
}

#footer__section ul a {
    color: rgb(203, 203, 203);
}

#footer__section .footer__copyright {
    color: white;
    font-weight: 500;
}