* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    max-width: 100vw;
}

nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%;
    height: 100%;

}

p {
    line-height: 1.5;
}

.nav__container {
    display: flex;
    padding: 0 24px;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

.logo {
    width: 60px;
    height: 60px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav__link  {
    transition: all 400ms ease;
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:#7342d6;
    padding: 5px 20px;
}

.nav__link a:hover {
    text-decoration: underline;
    
}

.nav__link--primary {
    border: 2px solid #6814b6;
    border-radius: 4px;
}

.nav__link--primary:hover {
    background-color: #6814b662;
    text-decoration: none;
}

.nav__link--primary a:hover {
    text-decoration: none;
}

#landing {
    background-color: #7342d61a;
}

.purple {
    color: #6814b6;
}

header {
    height: calc(100vh-90px);
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 55px;
    color: #6621a7;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

button {
    cursor: pointer;
}

.btn:active {
    transform: translateY(2px);
}

.btn {
    background-color: #6621a7;
    color: whitesmoke;
    padding: 12px 20px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}


.header__img--wrapper {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.header__img--wrapper img {
    width: 60%;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*
 HIGHLIGHTS
  */

#highlights {
    position: relative;
    /* this is done to make the SVG in the highlight section relative to the parent section (body) */
}
/* 
#highlights:before {
    background:url("./assets/wave-up.svg");
    left: 0;
    content: "";
    position: absolute;
    width: 98.7vw;
    height: 12vw;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
    transform: translateY(0%);
} */

.highlights__wrapper {
    display: flex;
    justify-content: center;
}

.highlight {
    z-index: 1;
    padding: 0 24px;
    width: calc(100%/3); 
    /* insted of using 333% width we here use calculate function to optimize the web arrangemnt */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highlight__para {
    text-align: center;
    font-size: 16px;
}

.highlight__img {
    color: #7821ca;
    border: 2px solid #6621a7;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 38px;
    margin-bottom: 20px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
}

/* 

COURSES 

*/

#features {
    background-color: #7342d61a;
    padding-top: 5vw;
}

.courses {
    display:flex;
}

.course {
    width: calc(100%/3);
}
.course__img {
    max-height: 300px;
    max-width: 360px;
    cursor: no-drop;
}

.course__img--wrapper {
    margin-bottom: 8px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.course:hover .course__img {
    transform: scale(1.02);
}

.course__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.course__title:hover {
    text-decoration: underline;
    cursor: no-drop;
}

.course__rating {
    margin-bottom: 10px;
    color: #fabf2a;
}



.course__price--normal {
    text-decoration: line-through;
    padding: 6px;
    color: #bfbfbf;
}