* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    max-width: 100vw;
}

nav {
    height: 80px;
    display: flex;
}

html {
    scroll-behavior:smooth;
}

img {
    width: 100%;
    height: 100%;

}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav__container {
    display: flex;
    padding: 0 24px;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

.logo {
    width: 60px;
    height: 60px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav__link  {
    transition: all 400ms ease;
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:#7342d6;
    padding: 5px 20px;
}

.nav__link a:hover {
    text-decoration: underline;
    
}

.nav__link--primary {
    border: 2px solid #6814b6;
    border-radius: 4px;
}

.nav__link--primary:hover {
    background-color: #6814b662;
    text-decoration: none;
}

.nav__link--primary a:hover {
    text-decoration: none;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;

}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    /* width: 98.75vw;
    height: 100vh; */
    right: 0;
    bottom: 0;
    z-index: 100;
    /* display: flex; */
    /* because we display flex the menu in the below menu__backdrop code */
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-out;
}
.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}
/* you can not animate something that is display:none  */
.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open .menu__backdrop {
    display: flex;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    font-size: 40px;
    color:whitesmoke
}

.menu__list {
    padding: 32px 0;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 10px;
    color: whitesmoke;
}


#landing {
    background-color: #7342d61a;
}

.purple {
    color: #6814b6;
}

header {
    height: calc(100vh-90px);
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 55px;
    color: #6621a7;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

button {
    cursor: pointer;
}

.btn:active {
    transform: translateY(2px);
}

.btn {
    background-color: #6621a7;
    color: whitesmoke;
    padding: 12px 20px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}


.header__img--wrapper {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.header__img--wrapper img {
    width: 60%;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.no__cursor {
    cursor: not-allowed;
}
/*
 HIGHLIGHTS
  */

#highlights {
    position: relative;
    /* this is done to make the SVG in the highlight section relative to the parent section (body) */
}
/* 
#highlights:before {
    background:url("./assets/wave-up.svg");
    left: 0;
    content: "";
    position: absolute;
    width: 98.7vw;
    height: 12vw;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
    transform: translateY(0%);
} */

.highlights__wrapper {
    display: flex;
    justify-content: center;
}

.highlight {
    z-index: 1;
    padding: 0 24px;
    width: calc(100%/3); 
    /* insted of using 333% width we here use calculate function to optimize the web arrangemnt */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highlight__para {
    text-align: center;
    font-size: 16px;
}

.highlight__img {
    color: #7821ca;
    border: 2px solid #6621a7;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 38px;
    margin-bottom: 20px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
}

/* 

COURSES 

*/

#features {
    background-color: #7342d61a;
    padding-top: 5vw;
}

#recent__courses {
    padding-top: 5vw;
}

.courses {
    display:flex;
}

.course {
    width:33.33333%
}

.recent__course {
    width: 25%;
    margin-bottom: 25px;
}

.course__img {
    max-height: 300px;
    max-width: 360px;
    cursor: no-drop;
}

.recent__course--img {
    max-width: 250px;
    max-height: 250px;
    cursor: pointer;
}

.course__img--wrapper {
    margin-bottom: 8px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.recent__course__img--wrapper {
    border-radius: 10px;
    object-fit: contain;
}

.course:hover .course__img {
    transform: scale(1.02);
}

.recent__course:hover .recent__course--img {
    transform: scale(1.01);
}

.course__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.recent__course--title {
    font-size: 16px;
    margin-bottom: 6px;
}

.course__title:hover {
    text-decoration: underline;
    /* cursor: no-drop; */
}

.course__rating {
    margin-bottom: 10px;
    color: #fabf2a;
}

.course__price--normal {
    padding: 6px;
    color: #bfbfbf;
}

.course__price--normal a {
    padding: 6px;
    color:#6621a7;
}

/* 
    EXPLORE
 */

 #explore {
    background-color: #7342d61a;
 }

/* 
        FOOTER 
*/

footer {
    background-color: #242424;
}

.footer__logo--img {
    width: 75px;
    height: 75px;
    filter: invert(1);
}

.footer__link,
.footer__copyright {
    color: white;
}

.row_column {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.footer__List {
    margin: 20px 0;
}

.footer__link {
    padding: 0 8px;
}


/* PHONES TABLETS & SMARTPHONES */

@media screen and (max-width: 768px) {

    .header__description {
        padding: 0 24px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }

    button {
        font-size: 16px;
    }

    #features .courses {
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #features .course {
        width: 100%;
        margin-left: 30%;
    }

    #recent__courses {
        display: none;
    }



}

/* RESPONSIVENES FOR SMALL LARGE PHONES*/

@media (max-width:550px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .course__title {
        font-size: 15px;
    }

    #highlights .highlight__subtitle {
        font-size: 10px;
        text-align: center;
    }

    .highlight__para {
        font-size: 10px;
    }

    #features .course {
     width: 100%;
     margin-left: 15%;
    }

    #features .courses {
        display: flex;
        flex-direction: column;
    }

    #recent__courses {
        display: none;
    }

    .footer__copyright {
        margin-top: 15px;
        font-size: 15px;
    }
}