* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(225, 212, 196);
    font-family: sans-serif;
    outline: none;
}

.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calculator {
    background-color: #262728;
    padding: 20px;
    border-radius: 25px;
    box-shadow: inset 5px 5px #1715156c;
    display: grid;
    grid-template-columns: repeat(4, 70px);
}

input {
    grid-column: span 4;
    height: 70px;
    width: 250px;
    background-color: #d6dadf;
    box-shadow: inset -5px -5px 12px #262728;
    border: none;
    border-radius: 30px;
    color: rgba(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}

button {
    height: 50px;
    width: 50px;
    background-color: antiquewhite;
    border-radius: 50%;
    box-shadow: -1px -1px 5px #ffffff;
    margin: 0.5rem;
    font-weight: bold;
}