* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards {
    display: flex;
    border: 4px solid red;
    border-radius: 20px;
}

.cards img {
    width: 150px;
}

.card {
    background-color: antiquewhite;
    text-align: center;
    padding: 30px;
    margin-left: 20px;
    width: calc(100%/1);
    border-radius: 25px;
    height: 400px;
    margin: 20px;
}
 
.card h1 {
    margin-bottom: 20px;
}

.card__bottom {

    border-radius: 20px;
    padding: 10px 30px;
    background-color: cadetblue;
}

.sign__in {
    display: flex;
    justify-content: space-between;
    background-color: beige;
    margin: 10px auto;
    padding: 5px 20px;
    border-radius: 20px;
    align-items: center;


}



.sign__in img {
    width: 30px;
    margin-right: 20px;
}














